@tailwind base;
@tailwind components;
@tailwind utilities;

.wallet-adapter-button-trigger,
.wallet-adapter-dropdown {
    width: 200px !important;
    max-width: 200px !important;
    margin: 0 auto !important;
}

:root {
    background-color: black;
}


@keyframes top-clip {
	0%{}
	50%{transform: translateY(21px);}
	100%{transform: translateY(21px);}
}

@keyframes bottom-sand-path {
	0%{}
	50%{transform: translateY(0);}
	100%{transform: translateY(0);}
}

@keyframes bottom-sand-g {
	0%{}
	85%{transform: translateY(0);}
	100%{transform: translateY(-9px);}
}

@keyframes hourglass-rotation {
	50%{transform: rotateZ(0);}
	100%{transform: rotateZ(180deg);}
}


#top-sand #top-clip-path rect,
#bottom-sand path,
#bottom-sand g,
svg {
	animation-duration: 5s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
}

#top-sand #top-clip-path rect {
	animation-name: top-clip;
}

#bottom-sand path {
	transform: translateY(21px);
	animation-name: bottom-sand-path;
}

#bottom-sand g {
	animation-name: bottom-sand-g;
}

#hour-glass {
	animation-name: hourglass-rotation;
}